@media (max-width: 1200px) { 
    .main-container {
        padding: 4em 0;
    }
    .main-header h1{
        font-size: 1.8em;
    }
    .main-header span{
        font-size: 1.2em;
    }

    .brands-glass{
        gap: 3em;
    }
    .products-container{
        gap: 1em;
    }
    .products-logo img {
        width: 400px;
      }
      .products-header {
        padding: 1.5em;
        gap: 3em;
        margin-right: 1em;
      }
      .products-text p {
       font-size: 1.3em;
      }
      .products-buttons {
        gap: 1em;
      }
      .products-buttons li a {
        font-size: 1em;
      }
      .location h1 {
        font-size: 0.9em;
      }
}

@media (max-width: 968px){
    .menu-burger {
        display: flex;
      }
      .header-menu{
        display: none;
      }
      .main-container {
        padding: 3em 0;
    }
    .main-header h1{
        font-size: 1.2em;
    }
    .main-header span{
        font-size: 0.9em;
    }
    .brands-glass{
        gap: 1.5em;
    }
    .products-container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 3em 0;
      }
      .products-text p {
        width: 50vw;
        font-size: 1.5em;
       }
       .location h1 {
        font-size: 1.2em;
        line-height: 1.5em;
      }
      .location-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3em;
      }
      .networks-list img{
        width: 45px;
      }
   
}
@media (max-width: 768px){
  .main-container {
    padding: 3em 0;
}
.main-header h1{
    font-size: 1.5em;
}
.main-header span{
    font-size: 1em;
}

.brands-glass{
    gap: 0.6em;
}

}

@media (max-width: 650px) {
    .swiper img{
        width: 100vw;
    }
    .swiper-wrapper{
        object-fit: cover;
      }
    .swiper span{
      font-size: 0.6em;
    }
      .header-logo h1{
        font-size: 1.5em;
      }


      .main-container {
        padding: 2em 0;
    }
    .main-header h1{
        font-size: 1.1em;
    }
    .main-header span{
        font-size: 0.8em;
    }
    
    .brands-glass{
        gap: 0em;
    }
    .brands-glass img{
      width: 50px;
    }
    .products-logo img {
      width: 350px;
    }
    .products-header {
      padding: 1.5em;
      gap: 1em;
      margin: 1em;
    }
    .products-text p {
     font-size: 1.3em;
     width: 75vw;
    }
    .products-buttons {
      gap: 0.5em;
      
    }
    .products-buttons li{
      padding: 0.5em;
    }
    .products-buttons li a {
      font-size: 0.6em;
      
    }
    .location h1 {
      font-size: 0.7em;
    }
    .location-header{
      width: 100vw;
      
    }
    .location-header p{
      width: 75vw;
    }
    .location-header img{
      box-shadow: none;
    }
    .networks-list img{
      width: 40px;
      
    }
}
@media (max-width: 450px){
  .header-logo h1{
    font-size: 1em;
  }
  .main-container {
    padding: 1em 0;
}
.main-header h1{
  
    font-size: 1em;
}
.main-header span{
    font-size: 0.5em;
}
.brands-glass img{
  width: 42px;
}
.products-logo img {
  width: 250px;
}
.products-header {
  width: 100vw;
    
}
.location-header p{
  font-size: 1em;
}
.products-text p {
 font-size: 1em;
 
}
.card-adress {
  font-size: 0.7em;
}
.location-card span {
  font-size: 0.7em;
  text-align: center;
}
.networks-container h1{
  font-size: 1.5em;
}

}

